/* global.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.container-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
